html, .form {
  background: #ffffcc;
}

.z-depth-1 {
  height: 300px;
  background: #FFF6CC;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.form-group {
    width: 50%;
    background: #FFF6CC;
}

.form-control {
  background: #FFF6CC;
}

.form-control:focus {
  border-color: #FFE97F !important;
  box-shadow: 0 0 0 0.25rem #FFE566 !important;
}

.header-wrapper {
  border: 1px solid lightgrey;
  padding: 3px;
  /* border-radius: 56%; */
  border-radius: 5px;
  background: #FFF2B2;
  box-shadow: lightgrey 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.preview-inner {
  background: white;
  padding: 5px;
  border-radius: 5px;
}

.preview-wrapper {
  width: 60%;
}

.editor-small {
  transition: all .5s ease-in-out;

}

.editor-big {
  /* height: 400px; */
  /* position: absolute; */
  transform: scale(1.4) translate(0%, -60%);
  transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.preview-header {
  display: flex;
  justify-content: space-between;
}
