@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.card {
  border: 1px dashed black;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;

  &__details {
    display: block;
  }

  &-number {
    font-weight: bold;
    text-align: center;
  }

  &-today {
    font-weight: bold;
    text-align: center;
  }
}

.center {
  text-align: center;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1070px;
}

.mini-card {
  border-radius:10% 10%;
  border: 1px solid black;
  width: 150px;
  height: 20px;
  background: rgb(177, 218, 240);
  text-align: center;
}

.card-today {
  background-color: orange;
  padding: 0.7rem;
  border-radius: 90%;
  width: min-content;
}

form {
  width: min-content;
}

.todo {

  &__submit-button {
    width: 100%;
  }
}

.hidden {
  display: none;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
 list-style-type: '💡';
}
