.calculator-wrapper  {
  background-color: grey;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.calculator-wrapper__main {
  background-color: orange;
  border: 1px solid black;
  border-radius: 10px;
  width: 410px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.calculator-block {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
}

.calculcator-panel {
  height: 100px;
  width: -webkit-fill-available;
  background-color: lightgrey;
  border-radius: 10px;
}
